/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
body{
    background-color: aliceblue;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}