.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.contactForm{
    background-color: aliceblue;
    padding: 20px;
    border-radius: 20px;
    font-size: 24px;
}
input{
    height: 50px;
    width: 200px;
    border-radius: 20px;
    font-size: 24px;
    margin-top: 10px;
}
.input{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}
.errors{
    color: red;
}