/* You can add global styles to this file, and also import other style files */
*{
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: linear-gradient(aliceblue,blue);
}