header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    position: sticky;
    top: 0;
    z-index: 1000;
}
.logo span{
    color: var(--primary);
}
.menu{
    display: flex;
    align-items: center;
    gap: 10px;
}
.menu ul{
    display: flex;
    gap: 10px;
}
li{
    list-style-type: none;
}
a{
    color: white;
    text-decoration: none;
}