header{
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 42px;
}
.logo span{
    color: tomato;
}
ul{
    display: flex;
    justify-content: space-between;
}
li{
    list-style-type: none;
margin: 0px 10px;
}
.menu a{
    font-size: 24px;
    color: white;
    text-decoration: none;
}
a:active{
    color: tomato;
}