#child{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 30vh;
    background-color: blanchedalmond;
    color: black;
    font-size: 24px;
    padding: 50px;
    width: 30vw;
}