#counter{
    background-color: white;
    padding: 50px;
    box-shadow: 5px 5px black;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#count{
    font-size: 36px;
}
button{
    padding: 10px;
    background-color: black;
    color: white;
    margin: 0px 10px;
    border-radius: 10px;
    transition: all 1s ease;
}
button:disabled{
    background-color: grey;
}
button:hover{
    background: linear-gradient(aliceblue,blue);
    color: black;
}