<!-- <div id="main">
  <h1>My code</h1>
  <img [src]="url" alt={{name}}>
  <p>My name is {{name}}</p>
  <p>My rollno is {{rollno}}</p>
  <p>My marks are {{marks}}</p>
  <p>My rank is {{rank}}</p>
  <button [disabled]="isDisable" (click)="fun()">click me</button>
</div>
 A simple component which prints basic details of a student by string interpolation -->
<!--implement a counter using string interpolation , property binding and event binding -->




<div id="counter">
  <p id="count">{{count}}</p>
 <div id="buttons">
  <button (click)="incr()">+</button>
  <button (click)="decr()" [disabled]="isDisable">-</button>
  <button (click)="reset()">reset</button>
 </div>
</div>












